/* general styles */
html {
  font-size: 125%;
}

html,
body {
  height: 100%;
}

body {
  background-image: url(./madlib-images/retina_wood.png);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
}

.box {
  background-image: url(./madlib-images/linedpaper.png);
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 50px;
  width: 70%;
}
/* typography */
body,
p,
input,
.submit,
.refresh {
  font-size: 1.3rem;
  font-family: "Annie Use Your Telescope", cursive;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0;
  color: tomato;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

/* form styles */
input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

input[type="number"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.row {
  margin-bottom: 20px;
}

/* Completed story styles */
.story {
  display: none;
}

span[data-blank] {
  color: tomato;
}

/* Button styles */
.submit,
.refresh {
  font-size: 1.5rem;
  margin: 15px;
}

.buttons {
  display: flex;
}

button {
  border-radius: 15px;
  border: 2px solid black;
  padding: 5px;
}

button:hover,
button:focus {
  background-color: turquoise;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
}

/* footer */
footer {
  padding: 10px;
  text-align: center;
}

/* ***************/
/* media queries */
/* ************* */
@media (max-width: 730px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .box {
    padding: 0;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    margin-top: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p,
  body {
    font-size: 1rem;
  }
}
